# Dependencies
node_modules/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Original MD file
*.md
!README.md

# Temporary assets & extracted files
*.zip
*.jpg.jpeg
extracted_agon/
package-lock.json
